In [73]:
import pandas as pd
import numpy as np

In [74]:
teamID = pd.read_csv('TeamIDPerfect.csv')

In [75]:
mmStats = pd.read_csv('TotalmmStats.csv')

In [76]:
merged = pd.merge(RatingStats, teamID, left_on=['School'], right_on=['team_name'], how='outer')

In [77]:
merged.to_csv('RatingStatsFinal.csv')

In [60]:
mergedata = pd.read_csv('mergedV2.csv')

In [61]:
RatingStats = pd.read_csv('TeamIDV2.csv')

In [62]:
mergedata.columns

Index(['Unnamed: 0', 'game_id', 'team2_teamname', 'Season', 'team1_teamname',
       'team1_id', 'team1_Conf', 'team1_W', 'team1_L', 'team1_Pts',
       ...
       'team2_pt_school_ff', 'team2_pt_school_ncaa', 'team2_pt_school_s16',
       'team2_pt_team_season_losses', 'team2_pt_team_season_wins',
       'team2_rpi_rating', 'team2_score', 'team2_seed.1', 'team2_stlrate',
       'team2_tempo'],
      dtype='object', length=133)

In [63]:
merged = pd.merge(mergedata, RatingStats, left_on=['Season','team2_id'], right_on=['Season','team2_id'], how='outer')

In [64]:
merged.head()

,Unnamed: 0_x,game_id,team2_teamname,Season,team1_teamname,team1_id,team1_Conf,team1_W,team1_L,team1_Pts,...,team2_Conf,team2_W,team2_L,team2_Pts,team2_Opp,team2_MOV,team2_SOS,team2__OSRS,team2_DSRS,team2_SRS
0,0.0,2002-1104-1194,Florida Atlantic,2002,Alabama,1104.0,SEC (West),27.0,8.0,75.9,...,A-Sun,19,12,74.3,72.1,2.19,-5.33,-0.44,-3.51,-3.95
1,1.0,2002-1108-1373,Siena,2002,Alcorn St.,1108.0,SWAC,21.0,10.0,79.8,...,MAAC,17,19,69.9,68.9,0.97,-3.71,-2.91,0.17,-2.74
2,27.0,2002-1268-1373,Siena,2002,Maryland,1268.0,ACC,32.0,4.0,85.0,...,MAAC,17,19,69.9,68.9,0.97,-3.71,-2.91,0.17,-2.74
3,2.0,2002-1112-1364,UC Santa Barbara,2002,Arizona,1112.0,Pac-10,24.0,10.0,82.1,...,Big West,20,11,66.6,60.9,5.71,-0.05,-1.81,7.36,5.55
4,3.0,2002-1150-1323,Notre Dame,2002,Charlotte,1150.0,CUSA (American),18.0,12.0,73.5,...,Big East (West),22,11,78.8,68.4,10.45,6.17,11.07,4.63,15.70

In [65]:
merged.to_csv('merged3.csv')